<!-- <div>
  <fa-icon [icon]="icons.faCoffee"></fa-icon>
  <fa-icon [icon]="icons.faStarRegular"></fa-icon>
  <fa-icon [icon]="icons.faStarSolid"></fa-icon>
</div> -->

<div>
  <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
  <fa-icon [icon]="['far', 'star']"></fa-icon>
  <fa-icon [icon]="['fas', 'star']"></fa-icon>
</div>

<fa-layers [fixedWidth]="true">
  <fa-icon [icon]="['fas', 'square']" [styles]="{'color':'red'}"></fa-icon>
  <fa-icon [inverse]="true" [icon]="['fas', 'spinner']" transform="shrink-6" [spin]="true"></fa-icon>
</fa-layers>

<fa-layers [fixedWidth]="true">
  <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
  <fa-layers-counter content="23"></fa-layers-counter>
</fa-layers>
