<div class="card mb-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label text-sm-end"
          >Description</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
            [ngClass]="validClasses(description, 'is-valid', 'is-invalid')"
          />
          @if(description.errors?.['required']) {
          <div class="invalid-feedback">Description cannot be empty</div>
          } @if(description.errors?.['minlength']) {
          <div class="invalid-feedback">
            You must enter at least
            {{description.errors?.['minlength'].requiredLength - description.errors?.['minlength'].actualLength}}
            characters more
          </div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label text-sm-end"
          >Price</label
        >
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            step="0.01"
            [ngClass]="validClasses(price, 'is-valid', 'is-invalid')"
          />
          @if(price.errors?.['required']) {
          <div class="invalid-feedback">Price cannot be empty</div>
          } @if(price.errors?.['min']) {
          <div class="invalid-feedback">Minimum price is 0.01€</div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label for="available" class="col-sm-2 col-form-label text-sm-end"
          >Available</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="available"
            formControlName="available"
            [ngClass]="validClasses(available, 'is-valid', 'is-invalid')"
          />
          @if(available.errors?.['required']) {
          <div class="invalid-feedback">Date cannot be empty</div>
          }
          @if(available.errors?.['minDate']) {
          <div class="invalid-feedback">
            Date must be at least {{ "2023-09-01" | date : "dd/MM/yyyy" }}
          </div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label for="image" class="col-sm-2 col-form-label text-sm-end">
          Image</label
        >
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            id="image"
            accept="image/*"
            (change)="changeImage($event)"
            formControlName="imageUrl"
            [ngClass]="validClasses(imageUrl, 'is-valid', 'is-invalid')"
          />
          <div class="invalid-feedback">Image is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" alt="" [src]="imageBase64" />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="productForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{{ productForm.valid }}
